.todo-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.todo-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  margin-left: 30%;
  flex: 1;
}

.add-task-component-container {
  flex: 1;
  visibility: visible;
}

.todo-item-label {
  color: black;
  font-size: 1.2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 100;
  cursor: pointer;
}

.todo-item-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.todo-item-checkbox:checked {
  background-color: #4127879c;
  border: none;
}

.todo-item-checkbox:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
}

.todo-item-checkbox:checked + .todo-item-label {
  text-decoration: line-through;
  color: #888;
}

.card-main-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.starting-button {
  border-radius: 50%;
  font-size: 4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #41278759;
  transition: color 0.5s ease-in-out;
}

.starting-button:hover {
  color: #4127879c;
}

.starting-button:hover + .starting-heading {
  font-weight: 400;
}

.starting-heading {
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 100;
  color: #4127879c;
  transition: font-weight 0.5s ease-in-out;
}

.loading-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  font-size: 4rem;
  color: #4127879c;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hide-add-task-btn {
  visibility: hidden;
  width: 30%;
}
